<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="application/javascript"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<!--    <script src="datepicker.js" type="application/javascript"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" type="text/css" />
<!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css">-->
    <link href="style.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Title</title>


</head>
<body class="site">

<main id="cotoprices" class="gradient-border site-content">
    <div class="main gradient-border">

        <div class="div-header">
            <h1>
                Precios del COTO
                <span>Listado de precios del coto</span>
            </h1>
        </div>

        <div class="div-datepicker">
            <div class="div-datepicker-btn">
                <button class="btn-datepicker" @click="openPicker"><img src="images/icons8-calendar-red.png"></button>
            </div>
            <vuejs-datepicker class="custom-datepicker" @selected="dateSelected" ref="programaticOpen"
                              :value="datepicker.date" :disabled-dates="datepicker.disabledDates"
                              :language="datepicker.language.es"></vuejs-datepicker>
        </div>


        <template v-if="prices.length">
            <div class="infoMessage">Productos que cambiaron el precio en la fecha {{this.filterDate}}</div>
            <ul class="header">
                <li>
                    <span class="label align-left">Producto</span>
                    <span class="label align-center">Nuevo</span>
                    <span class="label align-center">Anterior</span>
                    <span class="label align-center label-difference">Diferencia $ (%)</span>
                </li>
            </ul>

            <div class="parent">
                <vue-scroll :ops="ops">
                    <div class="child">
                        <transition-group name="cotoprices" tag="ul" class="priceslist">
                            <li v-for="item in prices" v-bind:key="item.productshopid">
                            <span class="label label-product align-left">
                                <a v-bind:href="item.product.url" target="_blank">{{item.product.name}}</a>
                            </span>
                                <span class="label align-center">{{formatPrice(item.price)}}</span>
                                <span class="label align-center prev-price">{{formatPrice(item.price - item.diff)}}</span>
                                <span class="label align-center label-difference"
                                      v-bind:class="getDiffClass(item.diff)">
                                    {{formatPrice(item.diff)}} ({{getPercent(item.price, item.diff)}})
                                </span>
                            </li>
                        </transition-group>
                    </div>
                </vue-scroll>
            </div>
        </template>

        <template v-if="prices.length == 0">
            <div class="emptylist">
                Parece que no se encontraron productos con cambio de precio en la fecha {{this.filterDate}}
            </div>
        </template>

    </div>
</main>

<footer>
    Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/Cuchu">Maxi Schvindt</a>
</footer>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vuescroll"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/es.js"></script>

<script src="index.js" type="application/javascript"></script>

